$color-primary-dark-green: #283618;
$color-primary-light-green: #606c38;
$color-secondary-light-o: #dda15e;
$color-secondary-dark-o: #bc6c25;

$color-white: #f3f3f3;

// FONTS

$font-primary: 'Quicksand', sans-serif;
$font-secondary: 'Manrope', sans-serif;