* {
  scroll-behavior: smooth;
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #f3f3f3;
}

@include responsive(tab-land) {
  font-size: 56.25%;
}

@include responsive(tab-port) {
  font-size: 50%;
}

@include responsive(phone) {
  font-size: 20%;
}

@include responsive(desktop) {
  font-size: 75%;
}
